################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamarinNDKSample/.vs/XamarinNDKSample/v15
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample/obj
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample.Android/obj
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample.UWP/.vs/XamarinNDKSample.UWP/v15
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample.UWP/obj
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample.iOS/obj
/XamarinNDKSample/XamarinNDKSample/XamarinNDKSample.UWP/XamarinNDKSample.UWP.csproj.user
*.user
*/bin
*/obj
/.vs
/XamarinNDKSample/.vs/XamarinNDKSample/DesignTimeBuild
/Android/RegisterAdd/RegisterAdd/bin/Debug
/Android/RegisterAdd/RegisterAdd/obj
/Android/RegisterAdd/.vs/RegisterAdd/v16
/Android/RegisterAdd/RegisterAdd/bin/x86/Debug
